# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite
*.db
*.db-journal

# Virtual env
.env
.venv/
venv/
env/

# Bytecode/mypy/coverage
.mypy_cache/
.pytest_cache/
coverage.*
.cache
*.cover
*.log

# Poetry
poetry.lock

# IDE/editor
*.swp
*.swo
.vscode/
.idea/

secrets.toml
poetry.lock